include LICENSE.txt *.py
recursive-include locale *.po 
recursive-include ttyrecgenerator *.mo *.py
recursive-include doc/ttyrec *.gif
recursive-include man *.1
prune __pycache__
global-exclude *.pyc
